dapr-ext-fastapi
azure-storage-blob
fastapi~=0.115.14
dapr~=1.15.0
azure-core~=1.34.0
python-dotenv~=1.0.0
uvicorn~=0.23.2
torch~=2.3.0
opencensus~=0.11.2
opencensus-ext-azure~=1.1.0
opencensus-ext-logging~=0.1.1
opencensus-ext-fastapi~=0.1.0
opencensus-ext-requests~=0.1.0
opentelemetry-api==1.35.0
opentelemetry-sdk
opentelemetry-instrumentation>=0.50b0
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-logging
azure-monitor-opentelemetry-exporter
opentelemetry-semantic-conventions>=0.50b0
opentelemetry-instrumentation-httpx
aiofiles~=24.1.0
azure-core-tracing-opentelemetry
httpx
numpy~=2.0.2
pandas~=2.3.1
scikit-learn~=1.6.1
matplotlib
pydantic~=2.11.7
opentelemetry-instrumentation-openai~=0.40.14
starlette~=0.46.2